<div class='container'>
    <h1 class="display-1"><b>  Openwave Computing</b></h1><br><br>
    <h1 class="display-2">OUR CULTURE</h1>
    <h4> 

        We aim to make the most productive use of our time and deliver exceptional services to our customers! With our client-centric approach, we expedite the success of our clients and make sure their businesses prosper!
        
        Driving the workforce with a bit of fun is how leaders do it! We encourage and facilitate various fun activities throughout each year! This boosts employee satisfaction which consequently results in the success of Openwave!</h4>
</div>