<!-- <div class='container'>
    <h1 class="display-1"><b>  Openwave Computing</b></h1><br><br>
    <h1 class="display-2">OUR CULTURE</h1>
    <h4> 

        We aim to make the most productive use of our time and deliver exceptional services to our customers! With our client-centric approach, we expedite the success of our clients and make sure their businesses prosper!
        
        Driving the workforce with a bit of fun is how leaders do it! We encourage and facilitate various fun activities throughout each year! This boosts employee satisfaction which consequently results in the success of Openwave!</h4>
</div> -->
<div class="container">
<div class="jumbotron">
    <h1 class="display-1" style="text-align: center;"><b>Welcome !</b></h1><br>
    <div class="container-sm" style="width: 1100px;">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../../../assets/1.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5><b>Microsoft's certified silver patner</b></h5>
              <p>TECHNOLOGIES THAT SKY-ROCKET
                YOUR BUSINESS. Experience Our Globally Renowned
                Mobile and Web Technology Services!.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../../../../assets/4.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5><b>REVOLUTIONARY
                BLOCKCHAIN
                TECHNOLOGY
                SOLUTIONS</b></h5>
              <p>THAT CAN DISRUPT YOUR INDUSTRY. Gain the competitive edge with our custom-built Blockchain applications!</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../../../../assets/3.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>TCUSTOMIZED VIRTUAL
                REALITY SOLUTIONS</h5>
              <p>THAT ACCELERATE BUSINESS GROWTH.   Future-ready, realistic, & interactive VR applications built on diverse platforms!
                </p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div></div>
    <p class="lead" style="text-align: center;">Openwave’s value system has enabled us to internalize the processes necessary to provide most cost-effective solutions without compromising on the quality of service</p>
    <hr class="my-4" style="background-color: black; background: black;">
    <p style="text-align: center;">
        Openwave Computing is a certified Microsoft Silver Partner and a global expert at delivering technology
         solutions and deployment and maintenance support service to enterprise customers across the
          various business models. Our methods are 
        strategized to ensure you get maximum online presence and an increased ROI.</p><br>
    <p class="lead" style="text-align: center;">
      <a class="btn btn-dark btn-lg" href="https://www.openwavecomp.com/" role="button">Learn more</a>
    </p>
  </div>
  </div>