<!--<form #loginForm="ngForm" >
    <input type="text" name="username" [(ngModel)]="loginuser.username"><br>
    <input type="password" name="password" [(ngModel)]="loginuser.userpassword"><br>
    <button type="submit" (click)="login_form_submit()">login</button>
</form>-->


<div class="py-5 ">
    <div class="row ">
      <div class="col-md-4 mx-auto">
        <span class="anchor" id="formLogin"></span>
  
        <!-- form card login -->
        <div class="card rounded-0 shadow-lg p-3 mb-5 bg-body rounded">
          <div class="card-body">
            <h3 class="mb-0 display-3">Login</h3>
          </div>
          <div class="card-body">
            <form class="form" (ngSubmit)="logindata()" #loginform = "ngForm">
              <div class="form-group">
                <!-- <label >Username</label> -->
                <input type="email" class="form-control rounded" placeholder="Email" [(ngModel)]="loginuser.Email" name="email" #email = "ngModel"
                [class.is-invalid]="email.invalid && email.touched" required>
                <small class="text-danger" [class.d-none]="email.valid || email.untouched">email is required</small><br>
                
              </div>
              <div class="form-group">
                <!-- <label>Password</label> -->
                <input type="password" placeholder="Password" class="form-control rounded " [(ngModel)]="loginuser.Password" name="password" #pwd = "ngModel"
                [class.is-invalid]="pwd.invalid && pwd.touched" required>
                <small class="text-danger d-none" [class.d-none]="pwd.valid || pwd.untouched">password is required</small>
              </div><br>
              <button [disabled]='loginform.form.invalid' type="submit" class="btn btn-dark float-right">Login</button>
            </form>
          </div>
          <!--/card-block-->
        </div>
        <!-- /form card login -->
  
      </div>
  
  
    </div>
  </div>