<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width= 0, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
 <div class="layout">
  <div class="navbars">
    <h1 class="logo">Open<span>wave</span></h1>
    <ul>
      <li><a routerLink="/cmsview">explore</a></li>
      <li><a routerLink="/surveyview">question</a></li>
      <li><a routerLink="/login">login</a></li>
      <li><a routerLink="adduser">sign up</a></li>
      <li><a href="#">logout</a></li>
    </ul>
  </div>
  <router-outlet></router-outlet>
</div>
  
</body>
</html>